@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mycolor1: #FF5656;
  --mycolor2: #EDF2F6;
  --mycolor3: #6A7EFC;
  --mycolor4: #494953;
}

body {
  font-family: "Protest Guerrilla", sans-serif;
}

.slick-prev:before,
.slick-next:before {
  color: var(--mycolor3) !important;
}

.slick-slide > div {
  margin: 0 10px;
}



